<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin View Employee</title>
    <link rel="stylesheet" href="/css/adminview.css" />
    <script defer src="/css/admin.js"></script>
    <script defer src="/css/viewemployee.js"></script>
  </head>
  <body>
    <div class="adminnav">
      <img src="/img/admin1.png" class="icon" id="adminicon" />
      <h1>Admin</h1>
      <div class="sidebar">
        <li class="adminhome">Admin Home</li>
        <li class="viewemployee">Search Employee</li>
        <li class="addemployee">Add Employee</li>
        <li class="logout">Logout</li>
      </div>
    </div>
    <div class="divflex">
      <div class="previewcontainer">
        <div class="search">
          <input class="searchinput" type="text" />
          <button class="searchbtn">Search</button>
        </div>
        <p>Employee Not Found!</p>
      </div>
    </div>
  </body>
</html>
